body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #e0f7fa, #b3e5fc);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #2f91d3;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
